.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 10px;
    box-shadow: 1px 1px 3px 3px #424040;
    background-color: rgb(220, 241, 101)
}

navbar .logo {
    padding-left: 0px;
    height: 40px;
    width: 40px;
}

navbar .display-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.display-menu .menu {
    padding: 1px 1px 1px 1px;
    padding-right: 10px;
    text-decoration: none;
    color: #333;
}