.collection-container {
    display: flex;
    flex-direction: column;
    margin: 20px
}

.collection-form {
    padding: 20px;
    border: 1px solid black;
    width: 400px;
    margin-left: 20px;
    background-color: #c8dab1;
}