.event-container {
    display: flex;
    flex-direction: column;
}

.event-logs {
    margin-left: 10px;
    width: 600px;
    height: 500px;
    background-color: #caafaf;
    overflow: auto;
    border: 1px solid #ccc;
}

.entry {
    margin-bottom: 10px;

}